{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    {% csrf_token %}
    {% for message in messages %} 
    <div class="alert alert-{{message.tags}} alert-dismissible fade show">
    <strong>Message:</strong>{{ message }} 
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    <div class="nav signnav">
        <h2 class="header">Welcome to xxxxxxxxxxxxx</h2>
        <div class="btns">
    <button type="submit" class="signn"><a href="/signup" class="a">SignUp</a></button>
    <button type="submit" class="signn"><a href="/signin" class="a">SignIn</a></button>
        </div>
    </div>
    <div class="cont">
    <h3 class="signup sign">SighUp</h3>
    <form action="/signup" method="post" class="form">
    {% csrf_token %}
        <label for="username">Username</label> 
        <input type="text" id="username" name="username" placeholder="create a username">
        <label for="fn">First name</label> 
        <input type="text" id="fn" name="fname" >
        <label for="ln">Last ame</label> 
        <input type="text" id="ln" name="lname" >
        <label for="email">Email</label> 
        <input type="email" id="email" name="email" placeholder="Enter your email">
        <label for="pw">Password</label> 
        <input type="password" id="pw" name="pw" placeholder="create a password"> 
        <label for="cpw">Conform Password</label> 
        <input type="password" id="cpw" name="cpw" placeholder="create a username">
        <button type="submit" class="signupp">Sign Up</button>

    </form>
    <div class="already">
        <h3>if already had an account , <a href="signin" class="anc">Sign in</a></h3>
    </div>
    </div>
</body>
</html>